<!-- Start deneb_about section -->
<section class="deneb_about {% if include.section_class %} {{include.section_class}} {% else %} about_v1 {% endif %}">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="{{ page.about.image | absolute_url }}" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="deneb_content_box wow fadeInRight">
					<h2>{{ page.about.heading }}</h2>
					<p>{{ page.about.text }}</p>
					<p>{{ page.about.text2 }}</p>
					<a href="{{ page.about.button.link }}" class="deneb_btn">{{ page.about.button.name }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->