<!-- Start deneb_achivement section -->
<section class="deneb_achivement section_padding">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6  wow fadeInLeft">
				<div class="section_title">
					<h2>{{ page.achivement.heading }}</h2>
				</div>
				<div class="deneb_content_box">
					<p>{{ page.achivement.text }}</p>
					<p>{{ page.achivement.text2 }}</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="achivment_wrapper">
				{% for list in page.achivement.list %}
					<div class="single_achivment wow fadeInUp">
						<div class="icon">
							<img src="{{ list.icon | absolute_url }}" class="img-fluid" alt="">
						</div>
						<h3>{{ list.name }}</h3>
						<p>{{ list.description }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_achivement section -->