<!-- Start deneb_cta section -->
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>{{ site.hire_us.heading }}</h3>
						<p>{{ site.hire_us.description }}</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="{{ site.hire_us.button.link }}" class="deneb_btn">{{ site.hire_us.button.name }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_cta section -->