<!-- Start Portfolios section -->
<section class="deneb_project project_v2 section_padding" id="project">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="section_title text-center">
			<h2>{{ page.portfolios.heading }}</h2>
			<p>{{ page.portfolios.description }}</p>
		</div>
	</div>
</div>
<!--div class="row">
	<div class="col-lg-12">
		<div class="project_button_2 text-center">
			<button class="project_btn active_btn" data-filter="*">all</button>
			<button class="project_btn" data-filter=".cat1">Web Design</button>
			<button class="project_btn" data-filter=".cat2">Web Development</button>
			<button class="project_btn" data-filter=".cat3">Branding</button>
			<button class="project_btn" data-filter=".cat4">SEO</button>
			<button class="project_btn" data-filter=".cat5">Mobile App</button>
		</div>
	</div>
</div-->
<div class="row grid_wrapper">
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat1">
		<div class="grid_item">
			<a href="#">
				<div class="deneb_img">
					<img src="{{ "/assets/images/thumbnail_test.png" | absolute_url }}" class="img-fluid" alt="Design & Develop"/>
				</div>
				<div class="deneb_info">
					<h4>Web</h4>
					<p>Page design and development</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat2">
		<div class="grid_item">
			<a href="#">
				<div class="deneb_img">
					<img src="{{ "/assets/images/portfolio_8.jpg" | absolute_url }}" class="img-fluid" alt="Design & Develop"/>
				</div>
				<div class="deneb_info">
					<h4>Design & Develop</h4>
					<p>Design</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat3">
		<div class="grid_item">
			<a href="#">
				<div class="deneb_img">
					<img src="{{ "/assets/images/portfolio_9.jpg" | absolute_url }}" class="img-fluid" alt="Design & Develop"/>
				</div>
				<div class="deneb_info">
					<h4>Design & Develop</h4>
					<p>Design</p>
				</div>
			</a>
		</div>
	</div>
</div>
</div>
</section>
<!-- End Portfolios section -->