<!-- Start deneb_pricing section -->
<section class="deneb_pricing pricing_v1">
	<div class="shape_v4">
		<img src="{{ "/assets/images/shape/shape_11.png" | absolute_url }}" class="shape_11" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{ page.pricing.heading }}</h2>
					<p>{{ page.pricing.text }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			{% for list in page.pricing.list %}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp">
					<div class="icon">
						<img src="{{ list.icon | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h3>{{ list.name }}</h3>
					</div>
					<div class="list">
						<ul>
							{% for listitem in list.listitem %}
							<li>{{ listitem.name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="price">
						<h2>{{ list.price }}</h2>
					</div>
					<div class="button_box">
						<a href="{{ list.button.link }}" class="deneb_btn">{{ list.button.name }}</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End deneb_pricing section -->