<!-- Start deneb_testimonial section -->
<section class="deneb_testimonial testimonial_v1">
	<div class="shape_v5">
		<img src="{{ "/assets/images/shape/shape_12.png" | absolute_url }}" class="shape_12" alt="">
		<img src="{{ "/assets/images/shape/shape_13.png" | absolute_url }}" class="shape_13" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{ page.testimonials.heading }}</h2>
					<p>{{ page.testimonials.text }}</p>
				</div>
			</div>
		</div>
		<div class="row1">
			<div class="single_img">
				<img src="{{ "/assets/images/1.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{ "/assets/images/2.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{ "/assets/images/3.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
		</div>
		<div class="row2">
			<div class="single_img">
				<img src="{{ "/assets/images/4.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{ "/assets/images/5.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{ "/assets/images/6.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
			<div class="single_img">
				<img src="{{ "/assets/images/7.png" | absolute_url }}" class="img-fluid" alt="">
			</div>
		</div>
		<div class="testimonial_slide">
			{% for list in page.testimonials.list %}
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{ list.image | absolute_url }}" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>{{ list.name }}</h3>
					<h5>{{ list.position }}</h5>
					<p>{{ list.text }}</p>
				</div>
			</div>			
			{% endfor %}
		</div>
	</div>
</section>
<!-- End deneb_testimonial section -->