// Font Family 

$font1: 'gigalypse', sans-serif;

$font2: 'polymath', sans-serif;

// Colors

$white-pure: #fff;
$black-pure: #000;

$white: #f7f6f2;

$black: #011019;

$base: #0994EA;
$base-minus-1: lighten($base, 10%);
$base-minus-2: lighten($base, 20%);
$base-minus-3: lighten($base, 30%);
$base-minus-4: lighten($base, 40%);

$base-plus-1: darken($base, 10%);
$base-plus-2: darken($base, 20%);
$base-plus-3: darken($base, 30%);
$base-plus-4: darken($base, 40%);

$neutral: #BFCED4;

$accent: #ED33B9;
$accent-plus-1: darken($accent, 10%);

$gold: #D4A961;

$title: $base-plus-1;

$text: $black;

$theme_color: $accent;

$border-radius: 4px;
$border-radius2x: 8px;

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';